.request {
    flex: auto;
    display: flex;
    gap: 5px;
}

.requestlabel {
    color: blue;
    flex: initial;
    width: 4rem;
}

.method {
    color: green;
    flex: initial;
    width: 2.5rem;
}

.url {
    flex: auto;
}

.status {
    flex: initial;
    width: 2rem;
    text-align: center;
}

.stubresponserow {
    display: flex;
    margin: 10px;
    padding: 1rem;
    align-items: flex-start;
    gap: 20px;
}

.fields {
    flex: auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.buttons {
    flex: auto;
    display: flex;
    gap: 2px;
}

.selected {
    border: 2px solid blueviolet;
}

.name {
    flex: initial;
    color: blue;
    display: flex;
    gap: 5px;
}

.namelabel {
    flex: auto;
}

.namebox {
    flex: initial;
    width: 6rem;
}


.response {
    color: blue;
    flex: initial;
    display: flex;
    gap: 5px;
}

li {
    list-style-type: none;
}
